PORT=3000
QDRANT_URL="https://your-qdrant-cluster-url"
QDRANT_API_KEY="your-qdrant-api-key"
GROQ_API_KEY="your-groq-api-key"
LLAMA_CLOUD_API_KEY="your-llama-cloud-api-key"
HUGGINGFACEHUB_API_KEY="your-huggingface-api-key"
